# Rule for when switching to battery
SUBSYSTEM=="power_supply",ENV{POWER_SUPPLY_ONLINE}=="0",RUN+="/usr/bin/ryzenadj --stapm-limit=7000 --fast-limit=20000 --slow-limit=8000 --apu-slow-limit=10000 --tctl-temp=50"
SUBSYSTEM=="power_supply",ENV{POWER_SUPPLY_ONLINE}=="1",RUN+="/usr/bin/ryzenadj --stapm-limit=25000 --fast-limit=30000 --slow-limit=27000 --apu-slow-limit=30000 --tctl-temp=65"
